@charset "utf-8";
/* CSS Document */
*{ 
   margin:0;
   padding:0;
	}
#main{-webkit-column-width:202px;
       -moz-column-width:202px;
	   -o-column-width:202px;
	   -ms-column-width:202px;
	   
	   
	   -webkit-column-rule:2px dashed #F00;
       -moz-column-rule:2px dashed #F00;
	   -o-column-rule:2px dashed #F00;
	   -ms-column-rule:2px dashed #F00;
	  /* -webkit-column-count:5;
       -moz-column-count:5;
	   -o-column-count:5;
	   -ms-column-count:5;
     */
	}
.box{
	padding:10px 0 0 15px;}

.pic{
	 padding:10px;
	 border:1px solid #ccc;
	 border-radius:5px;
	 box-shadow:0 0 5px #ccc;
	 width:165px;
	}
	
.pic img{ display:block;
     width:165px;
	 height:auto;}